.categ-btn {
    color: rgb(87, 83, 83);
    display: block;
    width: 90%;
    height: 50px;
    margin: 5px auto;
    border-color: rgb(180, 180, 180);
    background-color: white;
    font-weight: 500;
}

.categ-btn:hover {
    background-color: rgb(149, 36, 241);
    border-color: white;
    color: white;
}

.col-9 {
    border-left: 2px solid rgb(197, 195, 195);
}


#carouselExampleAutoplaying {
    height: 200px;
}

#carouselExampleAutoplaying .carousel-item img {
    height: 200px;
    width: auto;
}

.carousel-inner {
    border-radius: 10px;
}

.card {
    max-width: 200px;
}

.input-group {
    width: 100%;
}

.head {
    background-color: rgb(149, 36, 241);
}



.input-bar {
    margin-right: 10px;
    height: 45px;
    border: 1px solid rgb(149, 36, 241);
    padding: 10px;
    border-radius: 5px;
    width: 500px;
}

.purple {
    background-color: rgb(149, 36, 241);
    color: white;
    border: 1px solid white;
    height: 45px;
}

.purple:hover {
    background-color: rgb(122, 3, 219);
    color: white;
}

.fixed-left {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    margin-top: 60px;
    width: 25%;

    overflow-y: auto;

    background-color: #f8f9fa;

    border-right: 1px solid #dee2e6;

}


.scroll-right {
    margin-left: 25%;
    
    overflow-y: auto;
   
    padding: 20px;
    
    margin-top: 60px;
}

.author {
    font-family: Arial, sans-serif;
    color: #999999;
    font-size: 80%;
    line-height: 15px;
    margin-top: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.title {
    margin-bottom: 3px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.isbn {
    margin-top: 5px;
    font-family: 'Google Sans', Arial, sans-serif;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 11px;
    font-weight: 700;
}

.read-btn {
    display: block;
    margin: 5px auto;
}

.categ-head {

    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;

}

.lib {
    font-family: "Galada", cursive;
    font-size: x-large;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 767.98px) {
    .scroll-right {
        margin-left: 0;
    }

    .input-bar {
        width: 200px;
    }
}

.foot {
    padding: 10px;
    background-color: rgb(149, 36, 241);
    color: rgb(248, 243, 243);
    font-weight: 600;
    width: 100%;
}

.icon {
    margin: 10px;
}

.copy {
    background-color: white;
    font-weight: 600;
    text-align: right;
    color: rgb(131, 128, 128);
}